* {
    box-sizing: border-box;
}
.blend-example {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.reveal .blend-example__output {
    width: 100%;
    height: 100%;
    background-image: url('../images/blend-bg.jpg'), url('../images/blend-layer.png');
    background-blend-mode: hard-light;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.button {
    font-size: 2rem;
    color: #e7ad52;
    border: 2px solid currentColor;
    background: none;
    padding: .5em 1em;
    margin: .5em;
    font-weight: bold;
    text-transform: capitalize;
    z-index: 1;
    word-break: keep-all;
}

.button--screenshot {
    float: right;
}

.button--camera {

}

.buttons__wrapper {
    position: absolute;
    top: 2rem;
    left: 0rem;
    right: 0rem;
    z-index: 2;
}
.broadcast {
    position: relative;
}

.broadcast__video {
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/offline.jpg) no-repeat center / contain;
}

.reveal video.broadcast__video {
    max-width: 100%;
    max-height: 100%;
}
.reveal img.broadcast__img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}
.is-hidden {
    display: none;
}
.broadcast.is-playing .broadcast__img{
    display: block;
}

.broadcast__camera-selection {
    float: left;
}